@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
/* 使用link标签的方式性能比import更好 */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    /* 主轴 交叉轴*/
    padding: 15px;
    justify-content: center;
    align-items: center;
    /* 最小高度 */
    /*如果元素的内容高度不足以填满视口，min-height: 100vh; 会强制元素高度至少等于视口的高度。*/
    min-height: 100vh;
    background-color: #5145BA;
}

.config-container {
    width: 415px;
    padding: 25px;
    text-align: center;
    text-transform: capitalize;
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: ; */
}

.config-container .config-title {
    font-size: 1.31rem;

}

.config-container .config-option {
    margin-top: 25px;
}

.config-option .option-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.config-option .category-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.config-option button {
    padding: 12px;
    font-size: 0.938rem;
    font-weight: 500;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #9b8fff;
    transition: 0.3s ease;
}

.config-option button:hover {
    background: #dad5fd;
}

.config-option .question-options {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0, 30px;
    justify-content: center;
}

.question-options button {
    flex: 1 1 10%;
}

.start-quiz-btn {
    font-size: 1rem;
    /* font-weight: 500; */
    text-transform: capitalize;
    padding: 13px 25px;
    margin-top: 20px;
    color: #fff;
    background-color: #5145BA;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.config-container .start-quiz-btn:hover {
    background: #403795;
}