@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
/* 使用link标签的方式性能比import更好 */

/* 选择页面上的所有元素、重置默认样式 */
* {
    padding: 0;
    margin: 0;
    /* border-box时，元素的宽度和高度包含内边距（padding）和边框（border） */
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*
设置 body 元素的最小高度为 100vh，使其至少占据整个视口的高度；
如果不设置，body的高度默认是内部元素撑开，即由内部元素的高度决定。
*/
body {
    /* 让元素在水平、垂直方向居中的一种方法*/
    display: flex;
    /* padding: 15px; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5145BA;
}

/* align-items 默认是 stretch，如果只设置 justify-content， 相当于同时设置了 align-items: sretch;*/
/* 如果不希望 align-items 拉伸子元素的高度，可以将其值设置为其他值，例如 flex-start、flex-end 或 center。这样，子元素的高度将由其内容决定，而不会被拉伸。 */
/*这里 .config-container 高度由内容决定，除非设置了固定高度 */

/* :where()是选择器函数，用来组合多个选择器 */
:where(.config-container, .quiz-container) {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);
}

.config-container {
    display: none;
    width: 415px;
    padding: 25px;
    text-align: center;
    text-transform: capitalize;

}

.config-container .config-title {
    font-size: 1.31rem;

}

.config-container .config-option {
    margin-top: 25px;
}

.config-option .option-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.config-option .category-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.config-option button {
    padding: 12px;
    font-size: 0.938rem;
    font-weight: 500;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #9b8fff;
    transition: 0.3s ease;
    /* transition属性允许在元素样式更改时（例如：hover 状态），平滑地从一个样式过渡到另一个样式，而不是立即生硬地变化。 */
}

/* 选择器集合 */
.config-option button:hover,
.quiz-container .answer-option:hover {
    background: #dad5fd;
}

.config-option .question-options {
    display: flex;
    flex-wrap: wrap;
    /*当项目超出容器宽度时，它可以使项目换行显示，而不是溢出或缩小。*/
    gap: 12px;
    /*注意中间没有符号隔开*/
    padding: 0 30px;
    justify-content: center;
}

.question-options button {
    flex: 1 1 10%;
}

/* 按钮样式复用 */
.config-container .start-quiz-btn,
.quiz-footer .next-question-btn {
    font-size: 1rem;
    /* font-weight: 500; */
    text-transform: capitalize;
    /* 上下、左右padding */
    padding: 13px 25px;
    color: #fff;
    background-color: #5145BA;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.config-container .start-quiz-btn {
    margin-top: 30px;
}

/* 按钮样式复用 */
.config-container .start-quiz-btn:hover,
.quiz-footer .next-question-btn:hover {
    background: #403795;
}

/* ------------- Quiz Container ------------ */
.quiz-container {
    width: 480px;
}

/* 后代选择器 */
.quiz-container .quiz-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 25px;
    /* 使用 box-shadow 设置分界线 */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
}

.quiz-header .quiz-title {
    font-size: 1.43rem;
    font-weight: 700;
}

.quiz-header .quiz-timer {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 70px;
    color: #fff;
    font-weight: 600;
    padding: 7px 9px;
    border-radius: 6px;
    background: #32313c;
}

.quiz-header .quiz-timer span {
    font-size: 1.4rem;
}

.quiz-container .quiz-content {
    padding: 20px 25px 25px;
}


.quiz-content .question-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.quiz-container .answer-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin-top: 20px;
}

.quiz-container .answer-option {
    font-size: 1.2rem;
    font-weight: 500;
    background: #f3f1ff;
    padding: 13px 16px;
    border: 1px solid #b5acff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

.quiz-container .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    /* 使用 border-top 设置分界线 */
    border-top: 1px solid #c6c6c6;
}

.quiz-footer .question-status {
    font-weight: 500;
}

.quiz-footer .question-status b {
    font-weight: 600;
}

.quiz-footer .next-question-btn {
    /* 使得元素表现为行内块级元素，并且内部的子元素使用 Flexbox 布局 */
    /* inline-flex 使元素生成一个行内级别的弹性盒子。
    这意味着该元素会像行内元素一样排列，但其内部的子元素会按照弹性盒模型的规则进行布局。 */
    display: inline-flex;
    gap: 5px;
    align-items: center;
    padding: 9px 17px;
}